/* Importar fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

/* Estilos generales */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.13);
  flex: content;
  margin: 0px;
  letter-spacing: 3px;
  background-size: cover;
}

body.lazyloaded {
  background-image: url(BG.jpg);
}

body::before {
  content: "";
  position: fixed; /* Esto hará que el fondo borroso se mantenga en su lugar incluso cuando te desplaces */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Esto hará que el pseudo-elemento tenga la misma imagen de fondo que el cuerpo */
  filter: blur(10px); /* Ajusta esto al nivel de desenfoque que desees */
  z-index: -1; /* Esto asegurará que el fondo borroso esté detrás del contenido */
}

.content-container {
  margin: 0% 25% 0% 25%;
}

.panel {
  position: relative;
  height: 80vh;
  border-radius: 10px;
  cursor: pointer;
  flex: 0.5;
  margin: 0px 5px 5px 5px;
  overflow: hidden; /* Asegura que la imagen no se desborde del panel */
  -webkit-transition: all 360ms ease;
  transition: all 360ms ease;
}

.panel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen mientras la escala para llenar el panel */
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  font-family: "Courier New", Courier, monospace;
  opacity: 3;
  transition: opacity 0.8s ease 0.6s;
  text-shadow: 0px 0px 10px rgb(2, 0, 0);
  color: white;
}

/* Estilos de encabezado */
.header {
  top: 0px;
  position: fixed;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  text-align: left;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.425);
  z-index: 1000;
  justify-content: space-between;
}

/* Estilos de secciones principales */
section {
  padding: 2rem 0rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3); */
}

/*Fondo de Servicios*/
.BACK1 {
  width: 100%;
  background-color: #103b5871;
}

/*Fondo de Quienes Somos*/
.BACK2 {
  width: 100%;
  background-color: #449abcd7;
}

/*Fondo de Formulario*/
.BACK3 {
  width: 100%;
  background-color: rgba(252, 252, 252, 0.219);
}

/* Estilos del formulario */
.formu {
  margin-left: 17%;
  margin-right: 17%;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  display: flex;
  border-radius: 10px;
  /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.767); */
  flex-direction: column;
}

form label {
  margin-bottom: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Icono de WhatsApp */
.whatsapp-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease;
}

.whatsapp-icon:hover {
  transform: scale(1.3);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 1rem;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.tex {
  font-size: 18px;
  animation-name: miani;
  animation-duration: 3s;
  color: white;
}

.hidden {
  animation-name: none;
}

input[type="submit"] {
  background-color: #2da832da;
  color: #fff;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 25px 5px 25px 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #3e8e4199;
}

@keyframes miani {
  0% {
    opacity: 0%;
  }

  5% {
    opacity: 10%;
  }

  15% {
    opacity: 20%;
  }

  25% {
    opacity: 40%;
  }

  50% {
    opacity: 60%;
  }

  75% {
    opacity: 80%;
  }

  100% {
    opacity: 100%;
  }
}

.IMG1 {
  padding: 0px 30px 0px 0px;
  height: auto;
  object-fit: contain;
}

nav .navbar-nav .nav-item .nav-link {
  color: black;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 22px;
}

nav .navbar-nav .nav-item .nav-link:hover {
  transition: 0.25s;
  background: rgb(56, 130, 209);
  color: white;
}

.titulo {
  margin: 20px 25% 20px 25%;
  font-size: 25px;
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  padding: 18px;
  border-radius: 22px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.274);
  flex-direction: row;
}

.anchor {
  display: block;
  height: 85px;
  /* Ajusta este valor al tamaño de tu barra de navegación */
  margin-top: -85px;
  /* Este valor debe ser el negativo del valor de la altura */
  visibility: hidden;
}

/* Estilos del footer */
.foot {
  margin-left: 40%;
  margin-right: 40%;
  background-color: #4caf5099;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  height: 50px;
  margin-bottom: 8px;
}
.insta {
  margin-left: 40%;
  margin-right: 40%;
  background-color: #af4caa99;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  height: 50px;
  margin-bottom: 8px;
}
.face {
  margin-left: 40%;
  margin-right: 40%;
  background-color: #1608d481;
  display: flex;
  justify-content: center;
  border-radius: 50px;
  height: 50px;
  margin-bottom: 18px;
}

.copy {
  color: white;
  width: 100%;
  background-color: #0000008f;
  display: flex;
  justify-content: center;
  font-size: 11px;
  padding: 15px 15px 0px;
}

.red {
  text-align: center;
  line-height: 50px;
  padding-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

footer {
  margin: 0px 0px;
}
/* Responsive */
@media (max-width: 1920px) {
  .content-container {
    margin: 0px 10% 0px 10%;
  }
}

@media (max-width: 1080px) {
  .content-container {
    margin: 0px 60px 0px 60px;
  }
}

@media (max-width: 975px) {
  nav {
    padding-top: 20px;
  }

  body {
    padding-top: 145px;
  }

  .anchor {
    height: 145px;
    /* Ajusta este valor al tamaño de tu barra de navegación */
    margin-top: -145px;
    /* Este valor debe ser el negativo del valor de la altura */
  }
}

@media (max-width: 800px) {
  .content-container {
    margin: 0px 40px 0px 40px;
  }
  .foot {
    margin-left: 250px;
    margin-right: 250px;
    background-color: #4caf5099;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
  }
  .insta {
    margin-left: 250px;
    margin-right: 250px;
    background-color: #af4caa99;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
  }
  .face {
    margin-left: 250px;
    margin-right: 250px;
    background-color: #1608d481;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .content-container {
    margin: 0px 10px;
  }
  .titulo {
    margin: 0% 0% 15px 0%;
    border-radius: 0px;
  }
  body {
    padding-top: 60px;
  }
  .anchor {
    height: 60px;
    margin-top: -60px;
  }
  .foot {
    margin-left: 80px;
    margin-right: 80px;
    background-color: #4caf5099;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
  }
  .insta {
    margin-left: 80px;
    margin-right: 80px;
    background-color: #af4caa99;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
  }
  .face {
    margin-left: 80px;
    margin-right: 80px;
    background-color: #1608d481;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    height: 50px;
  }
  .formu {
    margin-left: 1%;
    margin-right: 1%;
  }
  .tex {
    margin: 0px 20px;
  }
}
