<?xml version='1.0' encoding='utf-8'?>
<widget id="io.ars.reportesdal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Daños DAL</name>
    <description>App para reportar Daños DAL</description>
    <author email="r.silva@motta-int.com" href="https://www.attenza.net">
        ARSolutions
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
