.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0; /* Background color for the loading screen */
  z-index: 9999; /* Ensure it's on top of other content */
  transition: opacity 1s ease-out;
}

/* Estilos generales */
* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.13);
  flex: content;
  margin: 0px;
  letter-spacing: 2px;
  background-size: cover;
  white-space: inherit;
  background-image: url(../img/background-320.jpg);
}

body::before {
  content: "";
  position: fixed; /* Esto hará que el fondo borroso se mantenga en su lugar incluso cuando te desplaces */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit; /* Esto hará que el pseudo-elemento tenga la misma imagen de fondo que el cuerpo */
  filter: blur(10px); /* Ajusta esto al nivel de desenfoque que desees */
  z-index: -1; /* Esto asegurará que el fondo borroso esté detrás del contenido */
}

.content-container {
  margin: 0% 25% 0% 25%;
}

.panel {
  position: relative;
  height: 50vh;
  border-radius: 10px;
  cursor: pointer;
  flex: 0.5;
  margin: 0px 5px 5px 5px;
  overflow: hidden; /* Asegura que la imagen no se desborde del panel */
  -webkit-transition: all 360ms ease;
  transition: all 360ms ease;
}

.panel img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantiene la proporción de la imagen mientras la escala para llenar el panel */
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  font-weight: 400;
  opacity: 3;
  transition: opacity 0.8s ease 0.6s;
  text-shadow: 1px 1px 0 rgba(135, 207, 235, 0.712),
    -1px -1px 0 rgba(135, 207, 235, 0.712),
    1px -1px 0 rgba(135, 207, 235, 0.712), -1px 1px 0 rgba(135, 207, 235, 0.712);
  color: white;
  font-size: 28px;
  letter-spacing: 2px;
}

/* Estilos de encabezado */
.header {
  top: 0px;
  position: fixed;
  font-size: 18px;
  font-family: "Courier New", Courier, monospace;
  width: 100%;
  text-align: left;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.425);
  z-index: 1000;
  justify-content: space-between;
}

/* Estilos de secciones principales */
section {
  padding: 2rem 0rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3); */
}

/*Fondo de Servicios*/
.BACK1 {
  width: 100%;
  background-color: #103b5871;
}

/*Fondo de Quienes Somos*/
.BACK2 {
  width: 100%;
  background-color: #449abcd7;
}

/*Fondo de Formulario*/
.BACK3 {
  width: 100%;
  background-color: rgba(252, 252, 252, 0.219);
}

/* Estilos del formulario */
.formu {
  margin-left: 17%;
  margin-right: 17%;
  align-items: center;
  padding: 2rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  display: flex;
  /* box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.767); */
  flex-direction: column;
}

form label {
  margin-bottom: 0.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 70%;
  padding: 0.4rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  border: none;
}

input[type="checkbox"] {
  margin-right: 0.8rem;
  cursor: pointer;
}

.tex {
  display: block;
  font-size: 18px;
  animation-name: miani;
  animation-duration: 3s;
  color: white;
  justify-content: space-around;
  padding: 2rem 0rem;
}

.tex p {
  /* margin-top: 0.5em;
  margin-bottom: 1.5em;*/
  text-align: justify;
}
.tex h2 {
  font-size: 1.5em;
}
.tex strong {
  margin-bottom: 1em;
}
.tex p,
.tex strong {
  margin: 0.5em 18% 1.5em;
}
.hidden {
  animation-name: none;
}

input[type="submit"] {
  background-color: #2da831ec;
  color: #ffffff;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 19px 7px 19px 7px;
  cursor: pointer;
  transition: background-color 1s ease;
}

input[type="submit"]:hover {
  background-color: #001dc2da;
  transform: scale(1.1);
}

@keyframes miani {
  0% {
    opacity: 0%;
  }

  5% {
    opacity: 10%;
  }

  15% {
    opacity: 20%;
  }

  25% {
    opacity: 40%;
  }

  50% {
    opacity: 60%;
  }

  75% {
    opacity: 80%;
  }

  100% {
    opacity: 100%;
  }
}

.IMG1 {
  padding: 0px 30px 0px 0px;
  height: auto;
  object-fit: contain;
}

nav .navbar-nav .nav-item .nav-link {
  color: black;
  text-decoration: none;
  padding: 8px 18px;
  border-radius: 22px;
}

nav .navbar-nav .nav-item .nav-link:hover {
  transition: 0.25s;
  background: rgb(56, 130, 209);
  color: white;
}

.titulo {
  margin: 20px 25% 20px 25%;
  /*font-size: 22px;*/
  background-color: whitesmoke;
  display: flex;
  justify-content: space-around;
  padding: 18px;
  border-radius: 22px;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.192);
  flex-direction: row;
}

h1.titulo {
  font-size: 1.8em;
}

.anchor {
  display: block;
  height: 85px;
  /* Ajusta este valor al tamaño de tu barra de navegación */
  margin-top: -85px;
  /* Este valor debe ser el negativo del valor de la altura */
  visibility: hidden;
}

/* Estilos del footer */
.red {
  text-align: center;
  padding-left: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin: 0;
}

.foot,
.insta,
.face {
  margin-left: 40%;
  margin-right: 40%;
  display: flex;
  justify-content: center;
  align-items: center; /* Alinea verticalmente los elementos */
  flex-direction: row;
  border-radius: 50px;
  height: 50px;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
}
.foot {
  background-color: #4caf5099;
}
.insta {
  background-color: #af4caa99;
}
.face {
  background-color: #0d4edb79;
  margin-bottom: 18px;
}

.foot a,
.insta a,
.face a {
  display: flex;
  align-items: center;
}

.whatsapp-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.2s ease;
}
.foot:hover .whatsapp-icon,
.insta:hover .whatsapp-icon,
.face:hover .whatsapp-icon {
  transform: scale(1.3);
}

footer {
  margin: 0px 0px;
  text-align: center;
}

.copy {
  color: white;
  width: 100%;
  background-color: #0000008f;
  display: flex;
  justify-content: center;
  font-size: 11px;
  padding: 15px 15px 0px;
  flex: inherit;
  margin: inherit;
  letter-spacing: inherit;
  background-size: inherit;
}

.copy a {
  color: white;
}

/* Responsive */
@media (min-width: 480px) {
  body {
    background-image: url("../img/bg/background-480.jpg");
  }
}

@media (min-width: 768px) {
  body {
    background-image: url("../img/bg/background-768.jpg");
  }
}

@media (min-width: 1024px) {
  body {
    background-image: url("../img/bg/background-1024.jpg");
  }
}

@media (min-width: 1366px) {
  body {
    background-image: url("../img/bg/background-1366.jpg");
  }
}

@media (min-width: 1920px) {
  body {
    background-image: url("../img/bg/background-1920.jpg");
  }
}

@media (min-width: 1440px) {
  body {
    background-image: url("../img/bg/background-1440.jpg");
  }
}

@media (min-width: 2560px) {
  body {
    background-image: url("../img/bg/background-2560.jpg");
  }
}

@supports (background-image: url("../img/bg/background-320.avif")) {
  body {
    background-image: url("../img/bg/background-320.avif");
  }
  @media (min-width: 480px) {
    body {
      background-image: url("../img/bg/background-480.avif");
    }
  }
  @media (min-width: 768px) {
    body {
      background-image: url("../img/bg/background-768.avif");
    }
  }
  @media (min-width: 1024px) {
    body {
      background-image: url("../img/bg/background-1024.avif");
    }
  }
  @media (min-width: 1366px) {
    body {
      background-image: url("../img/bg/background-1366.avif");
    }
  }
  @media (min-width: 1920px) {
    body {
      background-image: url("../img/bg/background-1920.avif");
    }
  }
  @media (min-width: 1440px) {
    body {
      background-image: url("../img/bg/background-1440.avif");
    }
  }
  @media (min-width: 2560px) {
    body {
      background-image: url("../img/bg/background-2560.avif");
    }
  }
}

@supports (background-image: url("../img/bg/background-320.webp")) {
  body {
    background-image: url("../img/bg/background-320.webp");
  }
  @media (min-width: 480px) {
    body {
      background-image: url("../img/bg/background-480.webp");
    }
  }
  @media (min-width: 768px) {
    body {
      background-image: url("../img/bg/background-768.webp");
    }
  }
  @media (min-width: 1024px) {
    body {
      background-image: url("../img/bg/background-1024.webp");
    }
  }
  @media (min-width: 1366px) {
    body {
      background-image: url("../img/bg/background-1366.webp");
    }
  }
  @media (min-width: 1920px) {
    body {
      background-image: url("../img/bg/background-1920.webp");
    }
  }
  @media (min-width: 1440px) {
    body {
      background-image: url("../img/bg/background-1440.webp");
    }
  }
  @media (min-width: 2560px) {
    body {
      background-image: url("../img/bg/background-2560.webp");
    }
  }
}

@media (max-width: 1920px) {
  .content-container {
    margin: 0px 10% 0px 10%;
  }
}

@media (max-width: 1080px) {
  .content-container {
    margin: 0px 60px 0px 60px;
  }
  .foot,
  .insta,
  .face {
    margin-left: 290px;
    margin-right: 290px;
  }
}

@media (max-width: 975px) {
  nav {
    padding-top: 20px;
  }

  body {
    padding-top: 60px;
  }

  .anchor {
    height: 145px;
    /* Ajusta este valor al tamaño de tu barra de navegación */
    margin-top: -145px;
    /* Este valor debe ser el negativo del valor de la altura */
  }
}

@media (max-width: 912px) {
  .content-container {
    margin: 0px 40px 0px 40px;
  }
  body {
    padding-top: 60px;
  }
  .foot,
  .insta,
  .face {
    margin-left: 250px;
    margin-right: 250px;
  }
}

@media (max-width: 768px) {
  .content-container {
    margin: 0px 15px;
  }
  h1.titulo {
    font-size: 1.6em;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 85%;
  }
  .tex {
    margin: 0px 20px;
    font-size: 14px;
  }
  .tex p,
  .tex strong {
    margin: 0.5em 15px 1.5em;
  }

  .foot,
  .insta,
  .face {
    margin-left: 120px;
    margin-right: 120px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .content-container {
    margin: 0px 10px;
  }
  .titulo {
    margin: 0% 0% 15px 0%;
    border-radius: 0px;
  }
  body {
    padding-top: 60px;
  }
  .anchor {
    height: 60px;
    margin-top: -60px;
  }
  .foot,
  .insta,
  .face {
    margin-left: 80px;
    margin-right: 80px;
    height: 50px;
  }
  .formu {
    margin-left: 1%;
    margin-right: 1%;
  }
  .tex {
    margin: 0px 20px;
    font-size: 14px;
  }
  .tex p,
  .tex strong {
    margin: 0.5em 15px 1.5em;
  }
  .panel {
    height: 50vh;
  }
  .panel.active h3 {
    font-size: 18px;
  }
  .tex p {
    text-align: left;
  }
  h1.titulo {
    font-size: 1.5em;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .foot,
  .insta,
  .face {
    margin-left: 40px;
    margin-right: 40px;
    height: 50px;
  }
  .panel.active h3 {
    font-size: 12px;
  }
  h1.titulo {
    font-size: 1.2em;
  }
}
